models
input_dir
results
src
password.txt
content.pdf
DiffCom*
COCO
face-parsing.PyTorch
results_h
models/face_parsing/79999_iter.pth
results_experiment
results*
log*
RCS
*.pdf
clip-vit-base-patch32
weights
data/bdd100k_clean_256